/* header-beckground-color #FFFFFF
titel text color #212121
text color #757575
features beckgraund color #F5F5F5
team beckground color #F5F4FA
hero-footer beckground color #2F303A
accent color #2196F3
hero footer text color #FFFFFF
logo color #000000   #2196F3
addres text color rgba(255, 255, 255, 0.6)
*/

/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

:root{
    --logo-start-color: #2196F3;
    --logo-end-color: #000000;
    --titel-text-color:#212121;
    --text-color: #757575;
    --accent-color: #2196F3;
    --header-beckground-color: #FFFFFF;
    --hero-footer-beckground-color: #2F303A;
    --hero-footer-text-color: #FFFFFF;
    --features-beckgraund-color: #F5F5F5;
    --team-beckground-color: #F5F4FA;
    --addres-text-color: rgba(255, 255, 255, 0.6);
} 

body{
    font-family: 'Roboto', sans-serif;
}

/* logo */

.logo{
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.start-logo{
    color:var(--logo-start-color)
}

header .end-logo{
    color:var(--logo-end-color)
}

footer .end-logo{
    color:var(--header-beckground-color)
}

/* header */

header{
    background-color: var(--header-beckground-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.navi{
    list-style-type: none;
}

.navi-link{
    text-decoration: none;
    color: var(--titel-text-color);
}

.navi-link:hover, .nav-link:focus{
    color:var(--accent-color)
}

.head-mail, .head-tel{
    color: var(--text-color);
    text-decoration: none;
}

.head-mail:hover, .head-mail:focus,
.head-tel:hover, .head-tel:focus{
    color: var(--accent-color);
}

/* footer */

footer{
    background-color: var(--hero-footer-beckground-color);
}

footer ul{
    list-style-type: none;
}

footer a{
    text-decoration: none;
}

.footer-address{
    color: var(--hero-footer-text-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.footer-mail-tel{
    color: var(--addres-text-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}