/* hero */

.hero{
    background-color: var(--hero-footer-beckground-color);
}

.hero h1{
    color: var(--hero-footer-text-color);
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero button{
    font-family:inherit;


    background-color: var(--accent-color);
    color: var(--hero-footer-text-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
}

/* features */

.features{
    background-color: var(--features-beckgraund-color);
}

.features-titel{
    color: var(--titel-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.features > ul{
    list-style-type: none;
}

/* піздніше приберемо .features-meaning з допомогою scc

.features-meaning{
    
} */

.features-text{
    color: var(--text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* about */

.about{
    background: var(--features-beckgraund-color);
}

.about > ul{
    list-style-type: none;
}

.about > h2{
    color: var(--titel-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

/* team */

.team{
    background-color: var(--team-beckground-color);
}

.team > ul{
    list-style-type: none;
}

.team-titel{
    color: var(--titel-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}
.team-name{
    color: var(--titel-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.team-text{
    color: var(--text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}